$green: #00a18a !default;
$primary: $green !default;
$navbar-light-hover-color: rgba($green, 0.7) !default;
$link-color: $primary !default;
$navbar-light-active-color: $green !default;
$navbar-light-color: $green !default;
$navbar-light-brand-color: $navbar-light-active-color !default;
$navbar-light-brand-hover-color: $navbar-light-active-color !default;
