@import "variables";
@import "~bootstrap/scss/bootstrap.scss";

body {
  max-height: 100vh;
}

.map-container {
  height: 50vh;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 100vh;
  }
}

.list-wrapper {
  height: 100vh;
  overflow-y: scroll;
}

.list-container {
  overflow-y: scroll;
}

.modal__header-aboutlink {
  &:hover {
    cursor: pointer !important;
  }
}
