@import "variables";
@import "~bootstrap/scss/bootstrap.scss";

body {
  max-height: 100vh;
}

.layout-wrapper {
  @include media-breakpoint-up(md) {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
}

.list-container {
  padding-bottom: 100px;
  -ms-overflow-style: none;
}

.list-container::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.map-container {
  height: 50vh;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: 100vh;
  }
}

.list-wrapper {
  @include media-breakpoint-up(md) {
    height: 100vh;
    overflow-y: scroll;
  }
}

.modal__header-aboutlink {
  &:hover {
    cursor: pointer !important;
  }
}

// Algolia Map
.ais-GeoSearch-map,
.leaflet-container {
  min-height: 100vh;
}
