// Marker

.marker {
  background-image: url("/map-pin.svg");
  background-size: cover;
  width: 20px;
  height: 20px;
  // border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content {
  padding: 1.5rem;
}