// Marker

.marker {
  background-image: url("/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

// .mapboxgl-popup {
//   max-width: 200px;
// }

.mapboxgl-popup-content {
  background: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}